<div id="headerContainer" class="container-fluid bg-success">
       
        <table id="midtable" class="container-fluid">
                
                <tr id="header" class="row">
                        <app-header></app-header>
                </tr>

                <tr td id="mainMenu" class="border">
                        <app-menu></app-menu>
                </tr>

                <tr id="view" class="container-fluid">
                        <router-outlet></router-outlet>
                </tr>

        </table>

</div>

<div id="footerContainer" class="container-fluid bg-success">

        <app-footer></app-footer>
</div>