
<ul id="adminList" class="nav nav-pills nav-justified justify-content-left">

    <div id=listHeadline class="navbar-header"><b>Administrator</b></div> 
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/add-company'">Create company</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/update-company'">Update company</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/delete-company'">Delete company</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-companies'">Show all companies</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-companyid'">Show company by id</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/add-customer'">Create customer</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/update-customer'">Update customer</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/delete-customer'">Delete customer</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-customers'">Show all customers</a></li>
    
    <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-customerid'">Show customer by id</a></li>
</ul>
