
#table
{
    width: 65%;
    margin-left: 220px;
}

#title
{
    text-align: center;
    color: rgb(2, 117, 216); 
    text-decoration: underline;
    font-size: 21px;
    height: 55px;
}

#instructions
{
    text-align: center;
    height: 62px;
    font-size: 18px;
    color: rgb(2, 117, 216);    
    text-decoration: underline; 
    font-style: italic;
}

#userFeedback
{
    text-align: center;
    height: 35px;
    font-size: 18px; 
}


#addCustForm
{
    text-align: center;
    color: rgb(2, 117, 216); 
    height: 200px;
    overflow-y: auto; 
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    margin-left: 30px;  
}

#addCustButton
{
    color: rgb(255, 255, 255); 
    margin-left: 50px;
    margin-top: 33px;
}

#addCustEmailDiv
{
    margin-left: 20px;
}

#addCustPasswordDiv
{
    margin-left: 20px;
}

#addCustNameDiv
{
    margin-left: 20px;
}

#addCustLastNameDiv
{
    margin-left: 20px;
}