<div id="mainText"><h3 style= "text-decoration: underline">Welcome to our coupon system!</h3>
    We offer the best coupon deals on a wide variety of beers, foods, clothing, appliances and vacations.<br>
    whether your a company looking to reach a wide consumer base or whether your a customer looking<br> 
    for the best deals on the web, just log into our friendly system and start your expirience today! 
</div>


<div id="picDiv">
<img id="homepageImg" src="/assets/HeaderImages/Banner.gif" class="img-thumbnail"/>
</div>
<br>
