<table id="table">
    <tr>
        <td>
            <div id="instructions" class="card-header">
                Please enter a max price
            </div>

            <div id="userFeedback">
                {{userFeedback}}
            </div>

            <div id="getCouponPriceForm">
                <form [formGroup]="getCouponPriceForm" (ngSubmit)="onSubmit()">
                    <div id="getCouponByPriceDiv">
                        <label for="price">Coupon price: </label>
                        <input id="getCouponPriceInput" type="number" placeholder="Required field" formControlName="price"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }" />
                        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                            <div *ngIf="f.price.errors.required">Price is required</div>
                        </div>
                    </div>
                   <br>
                    <button id="getCouponPriceButton" type="submit" class="btn btn-primary mr-1">Show coupons</button>
                </form>
            </div>
        </td>

        <td>
            <div id="listDisplay">
                <table id=listTable *ngFor="let coupon of couponList">
                    <tr> <b>Coupon title</b>: {{coupon.couponTitle}}</tr>
                    <br>
                    <tr> <b>Coupon amount</b>: {{coupon.couponAmount}}</tr>
                    <br>
                    <tr> <b>Coupon price</b>: {{coupon.couponPrice | currency:'ILS'}}</tr>
                    <br>
                    <tr> <b>Coupon description</b>: {{coupon.couponDescription}}</tr>
                    <br>
                    <tr> <b>Coupon expiration date</b>: {{coupon.couponExpirationDate}}</tr>
                    <br>
                    <tr><img id="couponImg" src="/assets/CouponImages/{{coupon.couponImageFile}}.jpg"/></tr>
                </table>
            </div>
        </td>
    </tr>
</table>