
    <ul id="customerList" class="nav nav-pills nav-fill">
        
        <div id="listHeadline"><b>Customer</b></div>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/buy-coupon'">Buy coupon</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-allcustcoupons'">Show my coupons</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-custcouponcategory'">Show my coupons by category</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-custcouponprice'">Show my coupons by price</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-customerdetails'">Show my details</a></li>

    </ul>

