<ul id="companyList" class="nav nav-pills nav-fill justify-content-left">
    
    <div id="listHeadline"><b>Company  </b></div>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/add-coupon'">Create coupon</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/update-coupon'">Update coupon</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/delete-coupon'">Delete coupon</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-allcoupons'">Show all my coupons</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-couponcategory'">Show my coupons by category</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-couponprice'">Show my coupons by price</a></li>

        <li class="nav-item"><a class="nav-link active" [routerLink]="'/get-companydetails'">Show my details</a></li>

    </ul>
    
